# Introduction to Python for Data Science - Handin #

## YOUR NAME HERE ##

This handin is indiviual and mandatory to pass the course. All exercises must be completed.

Hand in this .ipynb file, no later than 15/8 at 23:59.

In [1]:
# Do not touch!
import numpy as np
import pandas as pd
import wbgapi as wbg

# Exercise 1: The Iris Dataset
The [iris dataset](https://archive.ics.uci.edu/ml/datasets/iris) is a very popular data set for teaching data science. It contains 3 classes of iris flowers, with 50 instances each. In this handin, we will use a modified version of the data set.

### Part 1 ### 
Import the modified iris dataset. It is located in the "data" folder as $\texttt{iris.csv}$.

### Part 2 ###
Change the names in the Class coloumn from Iris-setosa, Iris-versicolour and Iris-virginica to setosa, versicolour, virginica.

### Part 3
Remove all rows with NaN values from the Data Frame.

### Part 4
Some of the float values in the first four coloums have a "\n", so python reads the columns as strings. Remove the newlines from the Data Frame

### Part 5
Now with the newlines gone, convert the string values in the first four coloumns to floating points

### Part 6 ###
Make a scatter plot of the data, with Sepal length as the x-axis and sepal width as y-axis. The points should have one of three colours, depending on class.

In [4]:
labels = {y: x for x,y in enumerate(set(iris["Class"]))} # if your data frame is named something other than iris
colors = [labels[x] for x in iris["Class"]]              # change the name in these two lines

### YOUR CODE HERE ###

NameError: name 'iris' is not defined

Make a scatter plot with petal length as x-axis and petal width as y-axis. Can we determine the kind of iris flower based on petal and sepal measurements? (Write 1-2 lines of reflection)

In [5]:
### YOUR CODE HERE ###

##### YOUR ANSWER HERE (1-2 lines) #####

### Part 7 ###
Find the correlation between petal length and width, and the correlation between sepal length and width.

# Exercise 2: GDP and CO2 Emissions
In this exercise, we will look at the correlation between GDP per capita and CO2 emissions from each country. We will be using the World Bank's World Development Indicators API that we used in the exercises to access the data.

### Part 1
Import the datasets by running the code below. Remove the coloumns for years 2018, 2020, 2021.

In [6]:
co2 = wbg.data.DataFrame(series=['EN.ATM.CO2E.PC'], mrv=2).reset_index()
gdp_pc = wbg.data.DataFrame(series=['NY.GDP.PCAP.CD'], mrv=3).reset_index()
gdp_pc.head()

  economy        YR2019        YR2020       YR2021
0     ABW  31135.884356  23384.298791          NaN
1     AFE   1511.309259   1360.878645  1557.722682
2     AFG    494.179350    516.747871          NaN
3     AFW   1777.852822   1709.764129  1774.921218
4     AGO   2177.799015   1631.431691  2137.909393

In [7]:
co2.head()

  economy    YR2018    YR2019
0     ABW       NaN       NaN
1     AFE  0.917507  0.913618
2     AFG  0.163295  0.159824
3     AFW  0.486456  0.493923
4     AGO  0.777675  0.792137

In [8]:
### YOUR CODE HERE

### Part 2
Give the columns of the two dataframes meaningful names.

In [9]:
### YOUR CODE HERE

### Part 3
Merge the two dataframes

### Part 4
Compute the correlation between CO2 emissions and GDP per capita in 2019. Try to visualise the correlation.