# Introduction to Python for Data Science - Day 2

Welcome to the second day of the course. These notebooks will guide through the two days of the course. 
They are designed for you to repreduce and play, so feel free to modify the content. 

In particular, the course is split into "theory" and "lab" sessions. 
- The theory sessions are in the morning and show hands-on how the main concept works
- The lab session are afternoon exercises designed to understand and try the concepts learn in the morning. 

The schedule for day 2 is the following

 | Time | Topic |
 --- | --- |
 9.00-10.00 | numpy |
11.00-11.00 | pandas |
11.00-12.00 | data loading, cleaning |
12.00-13.00 | **Lunch break**
13.00-14.00 | plotting |
14.00-15.00 | data analysis with pandas, numpy, and matplotlib |
 

In this second day, we will look at the main libraries for data analysis, numpy, pandas, and matplotlib. 
Please make sure that the concepts of the first day are well understood and crystalized, as they will be instrumental for the understanding of today's lecture. 

Please create an account in Google to access colab or, if you want, use Jupyter notebook in your laptop. 

**Acknowledgments**

The material in this day is adapted from 
1. Chapters 4, 5, 6 in the book 
> [Python for Data Analysis, 3rd Edition](https://wesmckinney.com/book/) by Wes McKinney, published by O'Reilly Media.
The original jupyter notebooks can be found at the [book's Github repository](https://github.com/wesm/pydata-book/tree/3rd-edition).
  
2. Additional material has been adapted from [Python for Data Science course](https://github.com/worldbank/Python-for-Data-Science/) developed by Nick Jones, Dharana Rijal, Charles Fox and Gaurav Bhardwaj.

In [1]:
# You should become friend with these two libraries

import pandas as pd
import numpy as np

## File management

In this last part we will look into how to load and save files. 
This is the last basic operation to dive into more complex data analyses.

In [2]:
# A path can refer to a file in your hard drive or a location in the web

path = r'../data/data_edu.csv'
f = open(path, encoding="utf-8")

We can read each line individually with a for-loop on the open file

In [3]:
lines = [x.rstrip() for x in f]
# Let's visualize the first 5 lines
print(lines[:5])
print(f'Line count {len(lines)}')

['country_id,country,country_school_id,country_student_id,student_gender,computer_at_home,internet_at_home,immigration_status,early_education,repeated_grades,school_location,school_type,school_size,class_size,socioeconomic_index,math_score,reading_score,parent_education', 'Argentina,Argentina,3200001,3213049,Female,No,Yes,First-Generation,Attended ECEC for at least two but less than three years,Repeated a  grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-1.373,314.25031,424.07239,"Post secondary, non-tertiary"', 'Argentina,Argentina,3200001,3203374,Female,Yes,Yes,Native,Attended ECEC for at least two but less than three years,Did not repeat a  grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-1.1825,356.07629,380.26309,"Post secondary, non-tertiary"', 'Argentina,Argentina,3200001,3204844,Male,No,No,First-Generation,Attended ECEC for at least one but less than two years,Did not repeat a  grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-2.3486,338.08029,384.89191,Lower secondary', 'Argentina,Argentina,3200001,3211193,Female,Yes,Yes,Native,Attended ECEC for at least two but less than three years,Did not repeat a  grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-.9259,310.3869,392.88031,"Post secondary, non-tertiary"']
Line count 50398

In [4]:
# A file should always be closed
f.close()

The syntax 

```python
with open(path) as f: 
    ...
```

allows for automatically handling the file closure.

In [5]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [6]:
# Reading a certain number of characters each time
f1 = open(path)
f1.read(10)

'country_id'

Open the file in binary mode - rb stands for r=read, b=binary

In [7]:
f2 = open(path, mode="rb")  # Binary mode
print(f2.read(10))

b'country_id'

| Mode | Description                                                                                         |
| ---- | --------------------------------------------------------------------------------------------------- |
| `r`  | Read-only mode                                                                                      |
| `w`  | Write-only mode; creates a new file (erasing the data for any file with the same name)              |
| `x`  | Write-only mode; creates a new file but fails if the file path already exists                       |
| `a`  | Append to existing file (creates the file if it does not already exist)                             |
| `r+` | Read and write                                                                                      |
| `b`  | Add to mode for binary files (i.e., `"rb"` or `"wb"`)                                               |
| `t`  | Text mode for files (automatically decoding bytes to Unicode); this is the default if not specified |

The function `tell` returns the current position in the file.

In [8]:
f1.tell()

10

In [9]:
# Seeks move the current position to the specified one
f1.seek(3)
print(f1.read(1))
print(f1.tell())

n
4

In [10]:
f1.close()

In [11]:
path

with open("../data/tmp.csv", mode="w") as handle:
    handle.writelines(x for x in open(path) if x.startswith('Un'))

with open("../data/tmp.csv") as f:
    lines = f.readlines()

lines[:5]

['United States,United States,84000001,84003351,Male,Yes,Yes,Native,Attended ECEC for at least three but less than four years,Did not repeat a  grade,A town (15 000 to about 100 000 people),Public,100,21-25 students,.4372,644.80487,683.53363,"Post secondary, tertiary"\n',
 'United States,United States,84000001,84000536,Male,Yes,Yes,Native,No Response,Did not repeat a  grade,A town (15 000 to about 100 000 people),Public,100,21-25 students,-.9971,474.5553,437.77771,"Post secondary, non-tertiary"\n',
 'United States,United States,84000001,84003883,Male,Yes,Yes,Native,Attended ECEC for at least one but less than two years,Did not repeat a  grade,A town (15 000 to about 100 000 people),Public,100,21-25 students,-.8931,502.7262,468.23529,Non response\n',
 'United States,United States,84000001,84002531,Female,Yes,Yes,Native,Attended ECEC for at least two but less than three years,Did not repeat a  grade,A town (15 000 to about 100 000 people),Public,100,21-25 students,-.1624,493.64529,623.0097,"Post secondary, tertiary"\n',
 'United States,United States,84000001,84001624,Male,Yes,Yes,Native,Attended ECEC for at least two but less than three years,Did not repeat a  grade,A town (15 000 to about 100 000 people),Public,100,21-25 students,-.9357,442.64261,449.0047,"Post secondary, non-tertiary"\n']

In [12]:
# Delete a file from disk

import os
os.remove("../data/tmp.csv")

In [13]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

10

In [14]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'country_id'

### Read Data Frames from a csv file

In [15]:
df = pd.read_csv(path, encoding = 'utf_8')

In [16]:
# Examine first two observations

df.head(2)

,country_id,country,country_school_id,country_student_id,student_gender,computer_at_home,internet_at_home,immigration_status,early_education,repeated_grades,school_location,school_type,school_size,class_size,socioeconomic_index,math_score,reading_score,parent_education
0,Argentina,Argentina,3200001,3213049,Female,No,Yes,First-Generation,Attended ECEC for at least two but less than t...,Repeated a grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-1.3730,314.25031,424.07239,"Post secondary, non-tertiary"
1,Argentina,Argentina,3200001,3203374,Female,Yes,Yes,Native,Attended ECEC for at least two but less than t...,Did not repeat a grade,A city (100 000 to about 1 000 000 people),Public,570,31-35 students,-1.1825,356.07629,380.26309,"Post secondary, non-tertiary"

In [17]:
# Examine dataframe columns

df.columns

Index(['country_id', 'country', 'country_school_id', 'country_student_id',
       'student_gender', 'computer_at_home', 'internet_at_home',
       'immigration_status', 'early_education', 'repeated_grades',
       'school_location', 'school_type', 'school_size', 'class_size',
       'socioeconomic_index', 'math_score', 'reading_score',
       'parent_education'],
      dtype='object')

#### Preliminary analysis

In [18]:
# Missing values for each column

df.isnull().sum()

country_id                0
country                   0
country_school_id         0
country_student_id        0
student_gender            0
computer_at_home        432
internet_at_home        432
immigration_status        0
early_education           0
repeated_grades           0
school_location         886
school_type               0
school_size               0
class_size             1002
socioeconomic_index     833
math_score                0
reading_score             0
parent_education          0
dtype: int64

In [19]:
# But there are other values like "No Response" and "Invalid" that are not currently counted as None or Null: 

df.school_size.value_counts()

Invalid        11986
No Response     2222
322              176
392              170
350              157
               ...
22                 2
8                  2
40                 2
54                 1
39                 1
Name: school_size, Length: 863, dtype: int64

One way of re-assigning these values as null:

```
df.loc[(df["school_size"] == "No Response")|(df["school_size"] == "Invalid"),"school_size"] = np.nan
df.school_size.isna().sum()
```

In [20]:
# To assign all null equivalents as None:

# List of all columns
all_columns = df.columns.tolist()

# List of values that we want to re-assign as None: 
list_of_null_equivalents = ["No Response", "Invalid", np.nan, "None", "Non Response"]

# Treat all columns where null equivalents exist
for col in all_columns:
    df.loc[df[col].isin(list_of_null_equivalents),col] = None

In [21]:
# Many more columns have null values

df.isnull().sum()

country_id                 0
country                    0
country_school_id          0
country_student_id         0
student_gender             0
computer_at_home        1121
internet_at_home        1051
immigration_status      9032
early_education        10733
repeated_grades        13513
school_location         6989
school_type             6820
school_size            14208
class_size              1834
socioeconomic_index      833
math_score                 0
reading_score              0
parent_education         413
dtype: int64

#### Decide what steps to take, eg:
* deduce the missing values (eg. internet_at_home from socioeconomic index)
* fill NaNs using mean, median or a custom strategy (Look up: df.fillna?)
* drop rows with missing values (Look up: df.dropna?)

In [22]:
# check how a method works and what parameters it needs

df.fillna?

Signature:
df.fillna(
    value: 'object | ArrayLike | None' = None,
    method: 'FillnaOptions | None' = None,
    axis: 'Axis | None' = None,
    inplace: 'bool' = False,
    limit=None,
    downcast=None,
) -> 'DataFrame | None'
Docstring:
Fill NA/NaN values using the specified method.

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a
    dict/Series/DataFrame of values specifying which value to use for
    each index (for a Series) or column (for a DataFrame).  Values not
    in the dict/Series/DataFrame will not be filled. This value cannot
    be a list.
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use next valid observation to fill gap.
axis : {0 or 'index', 1 or 'columns'}
    Axis along which to fill missing values.
inplace : bool, default False
    If True, fill in-place. Note: this will modify any
    other views on this object (e.g., a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled. Must be greater than 0 if not None.
downcast : dict, default is None
    A dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible).

Returns
-------
DataFrame or None
    Object with missing values filled or None if ``inplace=True``.

See Also
--------
interpolate : Fill NaN values using interpolation.
reindex : Conform object to new index.
asfreq : Convert TimeSeries to specified frequency.

Examples
--------
>>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
...                    [3, 4, np.nan, 1],
...                    [np.nan, np.nan, np.nan, np.nan],
...                    [np.nan, 3, np.nan, 4]],
...                   columns=list("ABCD"))
>>> df
     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

Replace all NaN elements with 0s.

>>> df.fillna(0)
     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

We can also propagate non-null values forward or backward.

>>> df.fillna(method="ffill")
     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  1.0
3  3.0  3.0 NaN  4.0

Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
2, and 3 respectively.

>>> values = {"A": 0, "B": 1, "C": 2, "D": 3}
>>> df.fillna(value=values)
     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  2.0  3.0
3  0.0  3.0  2.0  4.0

Only replace the first NaN element.

>>> df.fillna(value=values, limit=1)
     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  NaN  1.0
2  NaN  1.0  NaN  3.0
3  NaN  3.0  NaN  4.0

When filling using a DataFrame, replacement happens along
the same column names and same indices

>>> df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCE"))
>>> df.fillna(df2)
     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  NaN
3  0.0  3.0  0.0  4.0

Note that column D is not affected since it is not present in df2.
File:      ~/opt/miniconda3/envs/py22/lib/python3.10/site-packages/pandas/core/frame.py
Type:      method

In [23]:
# What happens if we drop all rows with Null values? 

print('original shape: ', df.shape)

print('new shape: ', df.dropna().shape) # NOTE: here, inplace = False by default

original shape:  (50397, 18)
new shape:  (20358, 18)

In [24]:
df.describe()

,country_school_id,country_student_id,socioeconomic_index,math_score,reading_score
count,5.039700e+04,5.039700e+04,49564.000000,50397.000000,50397.000000
mean,4.124331e+07,4.124772e+07,-0.106646,469.533701,474.243077
std,2.593884e+07,2.593763e+07,1.071051,96.473981,105.765284
min,3.200001e+06,3.200001e+06,-7.177600,128.113910,79.250099
25%,2.460002e+07,2.460093e+07,-0.809025,399.351590,399.157900
50%,5.280005e+07,5.280244e+07,0.012250,470.627810,477.102510
75%,5.780013e+07,5.780374e+07,0.731025,540.987120,552.201170
max,8.400018e+07,8.400863e+07,3.612800,797.783020,810.487430

In [25]:
df.columns

Index(['country_id', 'country', 'country_school_id', 'country_student_id',
       'student_gender', 'computer_at_home', 'internet_at_home',
       'immigration_status', 'early_education', 'repeated_grades',
       'school_location', 'school_type', 'school_size', 'class_size',
       'socioeconomic_index', 'math_score', 'reading_score',
       'parent_education'],
      dtype='object')